<div
  x-data="alert"
  class="flex items-start rounded-md border p-5"
  class-info="text-text-700 dark:text-info-200 bg-info-200/20 dark:bg-info-500/50 border-info-400 dark:border-info-500"
  class-warn="text-text-700 dark:text-warn-200 bg-warn-400/20 dark:bg-warn-500/50 border-warn-400 dark:border-warn-500"
  class-danger="text-text-700 dark:text-danger-200 bg-danger-300/20 dark:bg-danger-500/50 border-danger-400 dark:border-danger-500"
  class-success="text-text-700 dark:text-success-200 bg-success-300/20 dark:bg-success-500/50 border-success-400 dark:border-success-500"
>
  <div class="mr-4 empty:hidden">
    <div data-slot="icon">
      <x-component source="#icon.info-circle"></x-component>
    </div>
  </div>
  <div>
    <template data-slot-template>
      <div class="font-semibold">
        <div data-slot="header"></div>
      </div>
    </template>
    <div>
      <div data-slot></div>
    </div>
  </div>
  <button x-bind="closeButton" class="ml-auto" x-cloak>
    <x-component source="#icon.close"></x-component>
  </button>
</div>
